<div class="modal-header">
  <h4 class="modal-title">{{title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <label class="col-form-label error" [hidden]="hideErrorMessage">Error: {{errorMessage}}</label>
  <form novalidate *ngIf="mode === 'add' || mode === 'edit'" [formGroup]="userForm" (ngSubmit)="handleActionButtonClick(user)">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Username</label>
      <div class="col-sm-8">
        <input class="form-control" placeholder="Username" formControlName="username">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-form-label col-sm-4 pt-0">Account Status</label>
      <div class="col-sm-8">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" formControlName="accountExpired">Expired
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" formControlName="accountLocked">Locked
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" formControlName="credentialsExpired">Credentials Expired
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" formControlName="enabled">Enabled
          </label>
        </div>
      </div>
    </div>
    <div class="form-group row" formArrayName="roles">
      <label class="col-form-label col-sm-4 pt-0">Roles</label>
      <div class="col-sm-8">
        <div class="form-check" *ngFor="let role of userForm.get('roles')['controls']; let i = index">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" [formControlName]="i">{{roleTypes[i].displayName}}
          </label>
        </div>
      </div>
    </div>
  </form>
  <p *ngIf="mode=='delete'">Are you sure you want to delete {{user.username}}?</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" [disabled]="actionInProgress || !userForm.valid" (click)="handleActionButtonClick(user)">{{actionButtonText}}</button>
  <button type="button" class="btn btn-primary" [disabled]="actionInProgress" (click)="activeModal.dismiss('Cancel click')">Cancel</button>
</div>
