<div class="modal-header">
  <h4 class="modal-title">{{title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p><i class="fa fa-lg" [ngClass]="iconClass" aria-hidden="true"></i> {{message}}</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="activeModal.close('Ok click')">Ok</button>
  <button type="button" class="btn btn-primary" *ngIf="showCancel" (click)="activeModal.dismiss('Cancel click')">Cancel</button>
</div>
