<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" ng-click="vm.navbarCollapsed = !vm.navbarCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">SPAT</a>
        </div>

        <div class="navbar-collapse" uib-collapse="vm.navbarCollapsed">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active" ng-click="vm.navbarCollapsed = true"><a ui-sref="team-manager">My Teams</a></li>
                <li ui-sref-active="active" ng-click="vm.navbarCollapsed = true"><a ui-sref="user-manager">User Manager</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="ui-view-container">
    <div ui-view></div>
</div>